body,td,p { color: #000000;
font-family:  Arial, sans-serif;
font-size: 11pt;
line-height: 14pt;
margin: 0px;
padding: 0px;
}

/*- Sets the width of the page  -*/
#maindiv {
  align:center;
  width:98%;
  margin: 10px 20px 10px 20px;
}

/*- Sidebar draws the bar on the right with ads or teasers. the width of sidebar and content should be smaller than maindiv.width */
#sidebar {
  width:200px;
  margin-left:10px;
  margin-top:70px;
  margin-right:20px;
  float:right;  
}

#content {  
  padding-left:10px;
  float:left;  
}

#footerbox {
  clear:both;
}

#footerline {
  clear:both;
  border-top: 1px solid #e0e0e0;
  padding: 5px;  
}


#footerline table td {
  color: #666666;
  font-size: 12px;
}





a {
color: #3333ee;
text-decoration: underline;
}

a:hover {color: #3333ee;
text-decoration: underline;}


li.sitemap {
  padding:0px;
  margin:0px;
}

ul.sitemap {
  padding:0px 0px 0px 10px;
  margin:0px 0px 0px 20px;
}

div.active1 {
				height: 4px;
				background: url(/nx5/cms//img/alb.gif) no-repeat top left;
			}

			div.active2 {
				height: 4px;
				background: url(/nx5/cms//img/arb.gif) no-repeat top right;
				padding: 1px 6px;
			}
						
			
			div.inactive1 {
				height: 4px;
				background: url(/nx5/cms//img/ilb.gif) no-repeat top left;
			}

			div.inactive2 {
				height: 4px;
				background: url(/nx5/cms//img/irb.gif) no-repeat top right;
				padding: 0 4px;
			}
			
			td.activeTab, td.inactiveTab {
  				text-align:middle;
  				text-align:top;
  				color:#cccccc;
			}

			td.activeTab {
  				font-weight:bold;
  				color:#000000;
  				background-color:#e0e0e0;
			}

			td.inactiveTab {
  				background-color:#f0f0f0;
  				color:#cccccc;
  				cursor: pointer;
			}

			div.inactive3 {
				  border-top: 1px solid #cccccc;
			}

			div.inactiveTabText {
  				border-left: 1px solid #cccccc;
  				border-right: 1px solid #cccccc;
  				padding: 0px 1em 2px;
  				color: blue;
  				white-space: nowrap;
			}

			div.inactiveTabText a, div.inactiveTabText a:visisted {
  				text-decoration: none;
  				color: #666666;
			}


			div.activeTabText a, div.activeTabText a:visited {
  				padding: 0px 0px 2px;
  				color: #000000;
  				white-space: nowrap;
  				text-decoration:none;
			}

			div.activeTabText {
  				border-left: 1px solid #cccccc;
  				border-right: 1px solid #cccccc;
  				padding: 0px 1em 2px;
  				color: #000000;
  				white-space: nowrap;
  				text-decoration:none;
			}


			#subtabs {
	  			background-color:##e0e0e0;
	  			height:4px;
	  			padding:1 4px;
			}

			#subTabs td {
  				color: ##cccccc;
			    padding: 4px;
 			    padding-left:8px;
  				background: #e0e0e0;
  				white-space: nowrap;
			}
	
			#subTabs span.activeText {
  				font-weight: bold;
  				color: #999999;
  				display: inline;
			}

			#subTabs span.inactiveText {
  				color: #cccccc;
  				margin: 0 1px;
  				display: inline;
  				text-decoration:none;
			}

			#subTabs span.inactiveText a {
  				color: ##cccccc;
			}
h3 {
  font-size:1.4em;
  line-height:1.5em
  padding:0px;
  margin:0px;
}

h4 {
  font-size:1.2em;
  line-height:1.4em;
  color: #999999;
  padding:0px;
  margin:0px;
}


h1 {
padding-top: 5px;;
font-size: 18pt;
line-height: 24pt;
font-family: Arial, sans-serif;
text-align: left;}

h2 {
font-size: 14pt;
line-height:18pt;
font-family: Arial, sans-serif;
text-align: left;}