body,td,p { color: #000000;
font-family:  Arial, sans-serif;
font-size: 12px;
line-height: 16px;
margin: 0px;
padding: 0px;
}

/*- Sets the width of the page  -*/
#main {
  align:center;
  width:1000px;
  padding: 0px 20px 10px 20px;
}


a {
color: #ee8601;
font-size: 12px;
}

a:hover {color: #666666;
text-decoration: underline;}


h1 {
padding-top: 5px;;
font-size: 18pt;
line-height: 24pt;
font-family: Arial, sans-serif;
text-align: left;}

h2 {
font-size: 14pt;
line-height:18pt;
font-family: Arial, sans-serif;
text-align: left;}


h3 {
padding-top: 5px;;
color:white;
font-size: 18pt;
line-height: 26pt;
font-family: Arial, sans-serif;
text-align: left;}



li.sitemap {
  padding:0px;
  margin:0px;
}

ul.sitemap {
  padding:0px 0px 0px 10px;
  margin:0px 0px 0px 20px;
}

td.mainmenu {  
  background: url("menu_bg.jpg");
  padding: 0 10px 0 10px;
  font-family: Verdana;
  font-size: 11px;
  height:43px;
  vertial-align:center;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #f0f0f0;
}

a.mainmenu {
  text-decoration:none;
  color:#666;
  font-weight:bold;
  vertical-align:center;
}

a.mainmenu:hover {
  text-decoration:none;
  color: #ff6600;
}

.cellsubmenu {
  background-color: #f0f0f0;
  border:1px solid #cccccc;
  padding: 0px;
}

.submenu1 {
  background-color:#ff9702;
  padding: 5px 0 5px 0;
}

a.submenu1 {
  color: #ffffff;
  font-family:Verdana;
  font-size: 11px;
  text-decoration:none;
  padding: 0px 1px 0px 15px;  
}

a.submenu1:hover {
  color: #f0f0f0;
  text-decoration:none;
}

.submenu2 {
  padding: 5px 0 2px 0;
}

a.submenu2 {
 color: #666666;
  font-family:Verdana;
  font-size: 11px;
  text-decoration:none;
  padding: 0px 0px 0px 15px;
}

a.submenu2:hover {
  text-decoration:none;
  color: #ff9702;
}

#footerline {
  clear:both;
  border-top: 1px solid #e0e0e0;
  padding: 5px;  
}

#footerline table td {
  color: #666666;
  font-size: 12px;
}